*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #fff;
}
p{
  margin: 0;
}

/* header  */
.header.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  margin-top: 0;
}



/* loader css */

#laoding_text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: 50px 0 0 -25px;
  padding: 2px 0;
}
#loader{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f3f3f3;
  z-index:99;
}

#square{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
}

#square span{
  background-color: black;
  width: 16px;
  height: 16px;
  animation: square 1.7s infinite ease-in-out both;
  display: inline-block;
}

#square span::nth-child(1){
  left: 0;
  -webkit-animation-delay: .2s;
  animation-delay: .2s
}

#square span::nth-child(2){
  left: 15px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s
}

#square span::nth-child(3){
  left: 30px;
  -webkit-animation-delay: .4s;
  animation-delay: .4s
}

#square span::nth-child(4){
  left: 45px;
  -webkit-animation-delay: .5s;
  animation-delay: .5s
}

@keyframes square {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }

  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
  }

  100% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
  }
}


.header .navbar{
  padding:15px 0;
  background-color: #fff !important;
  box-shadow:0 2px 10px rgb(0 0 0 / 30%);
}
.header .navbar .nav-item{
  margin: 0 10px;
}
.header .navbar .navbar-nav .nav-item .nav-link,.header .navbar .navbar-nav .nav-item a i{
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  font-size: 18px;
  color:#48267c;
}
.header .navbar .navbar-nav .nav-item .nav-link.active{
  color:#ffa200;
  border-bottom: 3px solid #ffa200;
}

.header .navbar-nav{
  align-items: center;
}

.navbar-brand img{height: 70px;}

.logout-btn{
  font-size:18px !important;
  font-weight:700 !important;
  color:#48267c !important;
  text-transform: uppercase;
}




/* home-slider */
.home-slide .swiper { position: relative; height: 700px; }
.home-slide .swiper-button-next, .home-slide .swiper-button-prev { outline: none; position: absolute; z-index: 1; top: 50%;transform: translate(0 , -50%); width: 70px; height: 70px; background-color: rgba(0, 0, 0, 0.5); border-radius: 50%; }
.home-slide .swiper-button-next i, .home-slide .swiper-button-prev i { color: #fff; font-size: 26px; width: 42px; height: 42px; border: 3px solid #fff; border-radius: 50%; display: flex; align-items: center; justify-content: center; }
.home-slide .swiper-button-next:after, .home-slide .swiper-button-prev:after { display: none; }
.home-slide .swiper-slide { position: relative; display: flex; align-items: center; flex-direction: column;justify-content: center; height: 700px; background-color: #000; z-index: 0; padding-left: 15px; padding-right: 15px; }
.home-slide .swiper-slide.swiper-slide-active .title, .home-slide .swiper-slide.swiper-slide-active .sub-title, .home-slide .swiper-slide.swiper-slide-active p { animation: fadeInUp; animation-duration: 1s; }
.home-slide .swiper-slide .title { color: #fff; font-size: 70px; }
.home-slide .swiper-slide .sub-title { color: #fff; font-size: 40px; }
.home-slide .swiper-slide p { margin-bottom: 0; font-size: 18px; color: #fff; max-width: 768px; text-align: center; }
.home-slide .swiper-slide img { position: absolute; width: 100%; height: 700px; object-fit: cover; left: 0; top: 0; opacity: 0.7; z-index: -1; background-repeat: no-repeat; background-size: cover; background-position: center center; }
.home-slide .dontion-text { position: absolute; z-index: 1; left: 0; right: 0; margin-left: auto; margin-right: auto; display: flex; flex-direction: column; align-items: center; top: 525px; width: 100%; max-width: 550px; }
.home-slide .dontion-text .title { color: #fff; font-size: 28px; margin-bottom: 1rem; }
.home-slide .dontion-text input { border: none; height: 55px; line-height: 55px; border-radius: 30px; font-size: 17px; text-align: center; color: rgba(0, 0, 0, 0.2); margin-bottom: 1rem; }
.home-slide .dontion-text input::placeholder { color: rgba(0, 0, 0, 0.2); }
.home-slide .dontion-text p { font-size: 19px; color: #fff; text-align: center; }
.home-slide .dontion-text .btn__group { display: flex; align-items: center; justify-content: center; margin-top: 2rem; }
.home-slide .dontion-text .btn__group .btn:nth-child(1) { margin-right: 30px; }

/*categories-slider */

/* .categories > .container{background-color:#fff;} */
.categories > .container p.text{font-size:16px;color:black;text-align:center;margin-bottom:2rem;}
.categories .categories-swiper{position:relative;padding-left:75px;padding-right:75px;}
.categories .categories-swiper .swiper-wrapper{height:auto;}
.categories .categories-swiper .swiper-button-next,.categories .categories-swiper .swiper-button-prev{top:50%;margin-top:initial;opacity:1;transition:opacity 0.33s;transform: translate(0 , -50%);}
.categories .categories-swiper .swiper-button-next:hover i,.categories .categories-swiper .swiper-button-prev:hover i{color: #000;}
.categories .categories-swiper .swiper-button-next i,.categories .categories-swiper .swiper-button-prev i{font-size:26px;color:#ffa200;}
.categories .categories-swiper .swiper-button-next:after,.categories .categories-swiper .swiper-button-prev:after{display:none;}
.categories .categories-swiper .swiper-button-next{right:30px;}
.categories .categories-swiper .swiper-button-prev{left:30px;}
.categories .categories-swiper .swiper-slide .img{position:relative;height:180px;}
.categories .categories-swiper .swiper-slide .img img{position:absolute;width:100%;height:100%;object-fit:cover;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius:20px;}

.doner-left{
  border-right: 1px solid #eef2ef;
}
.info-main{
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
}
.info-main-inr{
  background-color: #fff;
  /* margin-top: -150px; */
  box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
  border-radius: 20px;
  padding: 20px;
}

.item-card-img{
  position: relative;
  margin-bottom: 15px;
}
.img-text{
  position: absolute;
  padding: 10px;
  height: 100%;
  width: 100%;
  background: rgb(0 0 0 / 20%);
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-text span{
  transform: rotate(45deg);
}

.doner-info{
  padding: 50px;
}

.logo-img {
  margin-bottom: 20px;
}

/* WORK */

.sec-title{
  margin-bottom:30px;
  text-align: center;
}

.sec-title h2{
  font-size: 50px;
  font-weight: 700;
  color:#414042;
  margin-bottom: 15px;
}
.sec-title p{
  font-size: 20px;
  color:#414042;
  margin-bottom: 10px;
}

.work{
  padding: 50px 0;
}

.categories-swiper .swiper-slide img {
    border-radius: 10px;
    margin: auto;
    height: 250px;
    width: 100%;
}
.card{
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 10px #00000030;
}
.work-info-inr{
    padding: 50px;
    text-align: center;
    margin: 0 auto;
}
.work-info {
    padding: 30px 0 0;
}
.work-info-inr h3{
  font-size: 30px;
  margin-bottom: 20px;
}
.work-info-inr p{
  font-size: 18px;
}

.info-main-inr .title{
  margin-bottom: 15px;
  padding: 20px 0;
}

.info-main-inr .title h3{
  font-size: 30px;
  margin-bottom: 0;
}
.info-main-inr .title p{
  font-size: 20px;
}

.give_bt{
  border: 2px solid #48267c;
  color: #48267c;
  padding: 8px  25px;
  font-size: 18px;
  font-weight:500;
  transition:all 0.5s ease-in-out;
  border-radius:20px;
  text-decoration:none;
}
.give_bt:hover{
  background-color:#48267c;
  color: #fff;
  text-decoration:none;
}

.item-card{
  padding: 20px;
  background-color: #fff;
  box-shadow:0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.item-card-img img{
  border-radius: 20px;
  height: 175px;
  position: relative;
}
.item-category{
  min-height: 80px;
}
.item-category h2{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

.contact-info{
  padding: 50px 80px;
  background-color:#fff;
}
.contact-title{
  padding-bottom: 35px;
}
.contact-title h3{
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

.contact-ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.contact-ul li{
  width: 50%;
}

.contact-info-ul{
  list-style: none;
  padding: 0;
}
.contact-info-ul li{
  width: 100%;
  margin-bottom: 20px;
}
.contact-info-ul-inr{
  display: flex;
  align-items: baseline;
}
.contact-info-ul-inr i{
  font-size: 20px;
  color: #37b34a;
}
.contact-info-ul-inr p{
    padding-left: 20px;
    font-size: 20px;
}
.contact-info-ul-inr p a{
  color:#f05a2b;
  text-decoration: none;
}
.contact-info-ul .btn{
  padding: 10px 40px;
  background-color:#37b34a;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/* donation */
.page-title{
  background-image: url("../../img/fronted/donation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  position: relative;
}
.page-title::after{
  position: absolute;
  content:" ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3)
}
.page-title h2{
  font-size: 35px;
  color: #fff;
  margin-top: 30px;
  position: relative;
  z-index:1;
}
.page-title .breadcrumb{
  justify-content: center;
  position: relative;
  z-index:1;
  background: fixed;
}
.page-title .breadcrumb a{
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}
.page-title .breadcrumb .breadcrumb-item.active a{
  color: darkorange;
}
.page-title.breadcrumb-item+.breadcrumb-item::before{
  color: #48267c;
}
.breadcrumb-item+.breadcrumb-item::before{
  color: #48267c;
}
.donation-info{
  padding: 50px 0;
}
.donate-form{
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 20%);
  /* box-shadow: 0 0 20px #fff; */
  /* box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff; */
  border-radius: 30px;
}
.donate-form .form-label{
  font-size: 20px;
  font-weight: 500;
  color: #6c758f;
}
.donate-form .form-control{
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 20%);
  border: none;
  padding: 7px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #6c758f;
}
.donate-form .donate-bt{
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid #6c758f;
  color: #6c758f;
  transition: all 0.5s ease-in-out;
  font-size: 18px;
  font-weight: 600;
}
.donate-form .donate-bt:hover{
  background-color: #48267c;
  border-color:#6c758f;
  color: #fff;
}

.donate-form a{
  color:#48267c;
}

.eye_ic{
  position:absolute;
  top: 45px;
  right: 30px;
}

/* About us */

.about-main{
  padding:50px 0;
}

.about-info{
  padding:30px;
  background-color:#fff;
  box-shadow:0 2px 10px rgba(0, 0, 0, 30%);
  border-radius:20px;
}

.about-info p{
  font-size:20px;
  color: #000;
  font-weight:600;
  margin-bottom:15px;
}
.about-info p:last-child{
  margin:0;
}


/* footer */
.footer{
  padding: 50px;
  background-color: #f05a2b;
  color: #fff;
}
.footer .site-info{
  text-align: left;
}
.footer .site-logo{
  margin-bottom: 20px;
}
.footer .site-logo img{
  height: 80px;
}
.footer .site-slogn p{
  font-size: 20px;
}
.footer-link{
  padding: 0;
  margin: 0;
  list-style:none;
  display: flex;
  flex-direction: column;
}
.footer-link li{
  position: relative;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  margin-bottom:10px;
}
.footer-link li .nav-link{
  color: #fff !important;
  font-size: 18px;
  font-weight: 600;
  background-color: #f05a2b;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  padding-left: 0;
  padding: 0;
}
.footer-link li .nav-link::before{
  content:" ";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #48267c;
  top: 50%;
  left: 0;
  z-index: -1;
}
.footer-link li:hover{
  padding-left: 15px;
}
.footer-link li:hover a.nav-link{
  color: #48267c !important;
}
.social-links ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.social-links ul li a.social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 50px;
  font-size: 25px;
  color:#fff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.social-links h3,.quick_links h3{
  font-size: 25px;
  margin-bottom: 20px;
}
.social-links ul li a.social-link:hover{
  color: #48267c;
  border-color: #48267c;
}


/* get it */

.get-slider{
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.get-slider, .get-info,.get_details{
  padding: 50px 0;
}

.get-info .sec-title{
  max-width: 100%;
  margin-bottom: 30px;
}

.get_detalis_inr {
  background-color: #fff;
  box-shadow: 0 2px 10px #00000030;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.get_img{
  width: 100%;
  height: 180px;
  /* border: 1px solid #000; */
  border-radius: 10px;
  margin-bottom: 10px;
}
.get_img img{
  width: 310px;
  height:180px;
  border-radius:10px;
}

.get_detalis_info label{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.get_detalis_info p{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
.get_detalis_info p a{
  color: #ffa200;
  text-decoration: none;
}

.view-page-bt .view-bt {
  border-color: #ffa200;
  padding: 10px 40px;
  border-radius: 20px;
  color: #ffa200;
  transition: all 0.5s ease-in-out;
}
.view-page-bt .view-bt:hover{
  background-color: #ffa200;
  color: #fff;
}

.pagination{
  justify-content: center;
}

.pagination-ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.pagination-ul li{
  margin: 0 10px;
  padding: 5px;
  border: 1px solid #48267c;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}
.pagination-ul li a{
  color: #48267c;
  text-decoration: none;
  font-weight:600;
}

.pagination-ul li:hover{
  background-color: #48267c;
  cursor: pointer;
}
.pagination-ul li:hover a{
  color: #fff;
}


/* detail page */

.detail_main{
  padding: 50px 0;
}

.details-slide .swiper-slide .img{margin-bottom: 20px;}
.details-slide .swiper-slide{text-decoration: none;}
.details-slide{margin-bottom: 30px;}
.details-slide .swiper{position:relative;height:350px;border-radius: 30px;}
.details-slide .swiper-button-next,.details-slide .swiper-button-prev{outline:none;position:absolute;z-index:1;top:90%;width:30px;height:30px;background-color:rgba(0,0,0,0.5);border-radius:50%;}
.details-slide .swiper-button-next .csb,.details-slide .swiper-button-prev .csb{color:#fff;font-size:20px;width:32px;height:32px;border:3px solid #fff;border-radius:50%;display:flex;align-items:center;justify-content:center;}
.details-slide .swiper-button-next:after,.details-slide .swiper-button-prev:after{display:none;}
.details-slide .swiper-slide img:not([src]){visibility:visible!important;}
.details-slide .swiper-slide{position:relative;display:flex;flex-direction:column;height:100%;background-color:#000;padding:30px;z-index:0;}
.details-slide .swiper-slide.swiper-slide-active .title,.details-slide .swiper-slide.swiper-slide-active .d-bt{animation:fadeInUp;animation-duration:1s;}
.details-slide .swiper-slide .title{color:#fff;font-size:91px;}
.details-slide .swiper-slide img{position:absolute;width:100%;height:350px;object-fit:cover;left:0;top:0;opacity:0.7;z-index:-1;background-repeat:no-repeat;background-size:cover;background-position:center center;}
.details-slide .swiper-button-next{left: 90% !important;}
.details-slide .swiper-button-prev{left: 85%!important;}
.d-bt{background: #fff !important;width: 100px;padding: 10px 30px !important;border-radius: 28px !important;}
.details-slide .swiper-slide.swiper-slide-active .title{padding-bottom: 170px;}


.product-price-box,.seller-detail{
  background-color:#fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.product-price-box .price-box-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-price-box .price-box-header h3{
  font-size: 25px;
  font-weight: 500;
  color: #414042;
  margin: 0;
}
.price-box-header button{
  font-size: 20px;
  padding: 6px 12px !important;
  color: #000;
}
.product-price-box .adress-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.seller-detail h3{
  font-size: 18px;
  margin: 0;
  color: #414042;
  font-weight: 500;
}

.seller-info{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
}
.seller-info img{
  width:60px;
  height:60px;
  border-radius: 50%;
}

.seller-detail-inr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  width:100%;
}
.seller-name h3{
  font-size: 18px;
  margin:0;
}
.seller-name p{
  font-size: 12px;
  color: #414042;
}
.seller-detail-inr p i{
  font-size: 22px;
  color: #000;
}
.cht-seller{
  width: 100%;
  background-color: #48267c !important;
  color:#fff !important;
  font-size: 18px !important;
  padding: 15px 20px;
  transition: all 0.5s ease-in-out;
  font-weight: 500;
}
.cht-seller:hover{
  border: 1px solid #48267c;
  background-color:#fff !important;
  color: #48267c !important;
}

.product-des {
  padding: 20px;
  border: 2px solid rgb(114 128 157 / 20%);
  border-radius:10px;
  background-color: #fff;
  margin-bottom:20px;
}
.product-des h3{
  font-size: 18px;
  margin-bottom:10px;
}
.product-des p{
  font-size: 14px;
  color:#72809D;
}

.releted_product-main{
  padding: 20px;
  background-color:#fff;
  border-radius: 10px;
  border: 2px solid rgb(114 128 157 / 20%);
}

.releted_product-main h2{
  font-size: 20px;
  margin-bottom:20px;
}

.releted_product-main .releted_product_inr:last-child{
  margin: 0 !important;
}

.releted_product_inr{
  display:flex;
  /* justify-content: space-between; */
  background-color: #fff;
  border: 2px solid rgb(114 128 157 / 20%);
  padding: 20px;
  border-radius: 10px;
  margin-bottom:20px;
}

.product-img img{
  width: 100px !important;
  height: 100px;
  border-radius: 10px;
}
.product-info{
  padding-left: 20px;
}

.product-info h3{
  font-size: 18px;
  margin: 0;
}
.product-info p{
  font-size: 16px;
  color: #72809D;
}

.location{
  padding: 20px;
  background-color:#fff;
  box-shadow:0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.location h3{
  font-size:18px;
  margin-bottom: 15px;
}

.location .p-location{
  border-radius: 10px;
  width: 100%;
  height: 400px !important;
}
.modal-title{
  color: darkorange;
  text-transform: uppercase;
}





/* share social */
.price-share .modal-body{
  padding: 20px 40px;
}
.share-social{
  display:flex;
  justify-content: space-between;
  align-self: center;
}

.share-social a{
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color:#48267c;
  border-radius:50%;
  color: #fff !important;
  display:flex;
  justify-content:center;
  align-items:center;
}
.share-social a i{
  font-size:25px !important;
}
.link-container{
  display: flex;
  align-items: center;
  margin-bottom:30px;
}

.link-container .copy-btn{
  background-color: #48267c;
  color:#fff !important;
  padding: 3px 20px !important;
}


@media (max-width: 991px){

  /* footer */
  .social-links{
    margin-top: 20px;
  }
  .about-main {
    padding: 30px 0;
  }
  .about-info p{
    text-align: justify;
  }
}

@media (max-width: 767px){
  .header .navbar{
    padding: 15px;
  }

  .home-slide .swiper-slide img,.home-slide .swiper-slide,.home-slide .swiper{
    height: 400px;
  }
  .home-slide .swiper-slide .title{
    font-size:40px;
  }
  .home-slide .swiper-slide .sub-title{
    font-size:25px;
  }
  .home-slide .swiper-button-next, .home-slide .swiper-button-prev{
    width: 50px;
    height: 50px;
  }
  .home-slide .swiper-button-next i, .home-slide .swiper-button-prev i{
    font-size:15px;
    width: 30px;
    height: 30px;
  }



  .work{
    padding: 30px 0;
  }
  .work-info-inr, .footer{
    padding: 30px 20px;
  }
  .sec-title{
    margin-bottom: 10px;
  }
  .sec-title h2{
    font-size: 30px;
  }
  .sec-title p, .info-main-inr .title p{
    font-size: 16px;
  }
  .work-info{
    padding: 30px 0 0;
  }
  .item-card, .site-info{
    margin-bottom: 20px;
  }
  .info-main-inr .title h3{
    font-size:22px;
    margin-bottom: 15px;
  }
  .give .categories-swiper,.get .card{
    margin-bottom: 20px;
  }

  .get_detalis_inr{
    padding: 10px;
  }

}

 /* error  */
 .error{
  color: red;
  font-size: large ;
}
/* FAVORITE  */
.fa-heart{
  color: black;
}

#notifDiv {
  z-index:10000;
  display: none;
  background-color: green;
  font-weight: 450;
  width: 350px;
  position: inherit;
  top: 80%;
  right: 5%;
  color: white;
  padding: 5px 20px;
}

/* .link-container{
  width: 100%;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 10px;
} */

/* .link{
  width: 80%;
  height: 100%;
  line-height: 40px;
  background: #6c758f;
  color: #000;
}
.copy-btn{
  position: absolute;
  right: 0;
  cursor: pointer;
  background:#6c758f  ;
  color: #fff;
  border: none;
  height: 100%;
  width: 30%;
  text-transform: capitalize;
  font-size: 16px;
} */